html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Clear Fix */
/* add the class .group in html to floated elements */
.group::after {
    content: '';
    clear: both;
    display: block;
}

* html .group

/* reset */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

/* HTML5 tags */
article, aside, figcaption, figure, footer, header, nav, section, details, summary {
    display:block;
}

/* header or headline title styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #F5F3Fd;
    font-family: 'Lato', sans-serif;
}

/* paragraph style */
p {
    color: #666666;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    margin: 0.625em;
}

/* for html outliner for nav */
.hide {
    display: none;
}

.container {
/*
    background: #f5f3fd;
*/
    margin: auto;
    max-width: 950px;
}
/* Header and Logo */
.header-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#topheader h1 {
    font-size: 2em;
    font-weight: 400;
    color: #f5f3fd;
    background: #aaaaaa;
    width: 100%;
    text-align: center;
    padding: 0.325em 0 0.35em 1.25em;
}

#hamburger {
    position: absolute;
    background: #aaaaaa;
}

#title h2 {
    font-weight: 400;
}

#title h3 {
    color: #062f4f;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 2em;
    font-weight: 400;
}

.white-opacity {
    background: rgba(245, 243, 253, 0.8);
}

#intro img {
    padding-top: 8em;
}

#logo {
    text-align: center;
}


#openpix img{
    height: auto;
    width: 100%;
}

.round-image {
    border-radius: 50%;
    display: block;
    margin: auto;
    border: solid 0.625em #666666;
}

.front {
    padding-top: 3em;
}

article {
    padding: 3.4375em 1.5625em 1.5625em 1.5625em;
}

article h1, h2 {
    color: #666666;
    text-align: center;
}

article p {
    font-size: 20px;
}

/* award box */
#awardbox {
    background-color: #f5f5f5;
}

#awardpix img,
#resumebutton img,
#code img,
.print img,
#reach-me img {
    width: 100%;
    height:auto;
}

#code-words {
    padding-top: 2em;
}

#code-words h3 {
    color: #062f4f;
    font-weight: 400;
    text-align: center;
}

#code-words p {
    color: #062f4f;
}

#image-carousel {
    background: #f5f3fd;
}

#awards ul {
    margin: auto;
}

#awards p:last-of-type {
    padding-bottom: 3em;
}

#awards h3 {
    margin: 0.625em 0 0.625em 0;
    color: #062f4f;
    text-align: center;
}

/* div id="bluedivider" */
.bluedivider {
    /*
    background: #062f4f;
    */
    background: rgba(6, 47, 79, 0.8);
    margin-top: -0.625em;
    margin-bottom: 0;
}

.greendivider {
    background: rgba(113, 175, 181, 0.8);
    margin-top: -0.625em;
    margin-bottom: 0;
}

.bluedivider h3,
.greendivider h3 {
    font-size: 2em;
    margin: 0;
    padding: 1.5625em 1.5625em 1.5635em 1.5635em;
    font-weight: 400;
}

#lisabio {
    background: #f5f3fd;
}

#bio h2
{
    font-weight: 400;
    margin-bottom: 0.25em;
}

#aboutlisa {
    background: #f5f3fd;
}

#bio h3,
#aboutlisa h3 {
    font-weight: 400;
    color: #062f4f;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

#aboutlisa h3{
    padding-top: 2em;
}

.paragraph-endspace {
    padding-bottom: 3em;
    margin-bottom: 0;
}

#clients h3 {
    padding: 1em 0 0 0;
    text-align: center;
}

#clients p {
    color: #f5f3fd;
}

#scrollUp {
    bottom: 1em;
    right: 1em;
    padding: 0.5em 1em;
    background: #aaaaaa;
    color: #f5f3fd;
    text-decoration: none;
}

#video-block h4,
#print-block h4 {
    color: #666666;
    font-size: 2em;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
    text-align: center;
    padding-left: 0;
}

.video img {
    width: 100%;
    height: auto;
}

/* footer */
footer  {
    text-align: center;
    padding: 0.625em 0 4em 0;
}

footer p {
    color: #f5f3fd;
    padding-top: 5em;
    font-size: 0.625em;
}

/* image border styles */
.img-roundborder {
    -webkit-border-radius: 30px 0px 30px 0px;
    -moz-border-radius: 30px 0px 30px 0px;
    border-radius: 30px 0px 30px 0px;
}

/* social media */
#socialmedia {
    clear:both;
    padding-right: 40px;
}

.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    float: right;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}

.icons a.blogger {
    background: url('../images/blogger.png') left top no-repeat;
}

.icons a.pinterest {
    background: url('../images/pinterest.png') left top no-repeat;
}

.icons a.tumblr {
    background: url('../images/tumblr.png') left top no-repeat;
}

.icons a:hover {
    background-position: left -34px;
}

/* small logo placement bottom right

.logorightplace {
    padding-left: 350px;
}
*/

/* title animations

.animated {
    animation-duration: 5s;
    animation-name: fadeandscale;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}
*/
/*.animateddelay {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-name: fadeandscale;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
    visibility: hidden;
}*/

/*
@keyframes fadeandscale {
    from {
        opacity:0;
        transform: scale(.9,.9);
    }
    to {
        opacity:1;
        transform: scale(1, 1);
    }
}
*/


/* header */
/*
header {
    height: 180px;
}

header h3 {
    color: #666666;
    font-size: 2em;
    text-decoration: none;
}

#headerlogo {
    padding-top: 80px;
    padding-left: 20px;
}

#headername {
    float: right;
    padding-top: 100px;
    padding-right: 610px;
}
*/

/*
nav {
    padding: 15px;
    text-align: left;
    background: #6633FF;
    background: -webkit-linear-gradient(left, #6633FF, #33CCFF);
      background: -moz-linear-gradient(right, #6633FF, #33CCFF );
      background: linear-gradient(to right, #6633FF, #33CCFF);
      position: fixed;
      top: 0;
      z-index: 1500;
      -webkit-border-radius: 0 0 20px 0;
      -moz-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}

nav ul li a:link, nav ul li a:visited {
    color: #F2F2F2;
    font-weight: bold;
    font-size: 18px;
    font-family:'PT Sans', sans-serif;
    text-decoration: none
}

nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
    color: #FFCC33;
}
*/

/*
main h3 {
    padding-top: 25px;
    padding-left: 30px;
    font-size: 24px;
}

main h4 {
    color: #F5F5F5;
    padding-left: 30px;
}

main h5 {
    color: #FF6633;
    padding-left: 25px;
}

main p {
    color: #F2F2F2;
    padding-left: 30px;
    margin-top: -10px;
    font-size: 20px;
}
*/

/*main ul {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    color: #F2F2F2;
    padding-left: 30px;
    padding-bottom: 25px;
}*/

/* below is for fancy box list to display horizontal
main ul {
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 30px;
    list-style: none;
}

main ul li {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
}
*/

/*
aside {
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
}

aside p {
    font-size: 18px;
    margin-top: -10px;
}
*/

/* div id="orangedivider"
.orangedivider {
    background: #ff6600;
    margin-top: -0.625em;
    margin-bottom: 0;
}
*/

/*
.orangedivider h4 {
    color: #F2F2F2;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    margin-top: -10px;
    text-align: center;
}

.orangedivider p {
    color: #F2F2F2;
    margin-top: -10px;
    width: 885px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.orangedivider img {
    vertical-align: bottom;
}
*/

/*
footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

footer ul li {
    color: #666666;
    font-size: 16px;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}
*/

/* resume button
.resumebutton {
    padding-left: 10px;
    margin-top: -17px;
    -webkit-border-radius: 0px 0px 30px 0px;
    -moz-border-radius: 0px 0px 30px 0px;
    border-radius: 0px 0px 30px 0px;
}
*/

/* image hover effect

#hover {
    clear:both;
    background-image: url('../images/panohiketext.jpg');
    /* because #hover div is empty, must add height and width - if  have width remember can use margin auto to center within */
    height: 213px;
    width: 960px;
}
/*
#hover:hover {
    background-image: url('../images/panohikebwlogo.jpg');
}
*/

/* contact form

#contact {
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px 0px 15px 0px;
    -webkit-box-shadow: 5px 5px 5px 5px #474747;
    -moz-box-shadow: 5px 5px 5px 5px #474747;
    box-shadow: 5px 5px 5px 5px #474747;
    margin-top: 50px;
    margin-bottom: 50px;
}

label {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    color: #666666;
}

label, h4 {
    display: block;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    color: #666666;
}

input {
    margin-bottom: 10px;
}

input[type="text"] {
    margin-bottom: 10px;
    border-radius: 15px 0px 15px 0px;
    border: 2px solid grey;
    width: 400px;
    padding: 2px;
}

textarea {
    border: 2px solid grey;
    padding: 2px;
    width: 400px;
    height: 100px;
    border-radius: 15px 0px 15px 0px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #FF6633;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px 0px 15px 0px;
    width: 400px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    color: #f5f5f5;
}
*/

/*

main {
    clear:both;
    background: #333333;
    background: -webkit-linear-gradient(left top, #333333, #999999);
     background: -moz-linear-gradient(bottom right, #333333, #999999);
     background: linear-gradient(to bottom right, #333333, #999999);
     margin-top: -10px;
     z-index: -20;
}
*/
